.contentBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* resize: auto; */
}

.contentContainer {
    min-height: 100%;
    height: auto;
    resize: auto;
}

.icon {
    font-size: 32;
    cursor: pointer;
}