.node circle {
    stroke-width: 13px;
	cursor: pointer;
}

.node circle:hover {
    stroke : rgb(218, 226, 109);
}

.node text {
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: black;
}

.earth text {
    fill : rgb(35, 18, 109);
    stroke: rgb(29, 44, 180);
    stroke-width: 0.4px;
}

.water text {
    fill : rgb(87, 38, 9);
    stroke: rgb(122, 47, 4);
    stroke-width: 0.4px;
}

.fire text {
    fill : rgb(6, 71, 66);
    stroke: rgb(11, 190, 176);
    stroke-width: 0.4px;
}

.air text {
    fill : rgb(32, 4, 4);
    stroke: rgb(71, 22, 22);
    stroke-width: 0.4px;
}

.water circle {
    stroke: rgb(53, 189, 223);
}

.fire circle {
    stroke: rgb(230, 73, 34);
}

.air circle {
    stroke: rgb(185, 189, 190);
}

.earth circle {
    stroke: rgb(141, 100, 64);
}

path.link {
	fill: none;
	stroke: #ec9f2b;
	stroke-width: 1.5px;
}

body {
	background-color: white;
	overflow: hidden;
}

span {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #F4F4F4;
	text-shadow: 0 1px 4px black;
	float: right;
}